#aboutbg .closebtn{
    z-index:300;
    position:fixed;
    width:100vw;
    height:100vh;
    background-color:var(--maincolor);
    position:fixed;
}


*{
    background:none;
    border:none;
    border-spacing:0;
    font-family:univers;
    font-weight:400;
    line-height:1.42rem;
    list-style:none;
    margin:0;
    padding:0;
    text-align:left;
    text-indent:0;
    text-underline-offset:4px;
}


.carousel{
    cursor:w-resize;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:end
}
.carousel-item{
    width:100%;
    transition:none;
    overflow-y:hidden
}

body section .txt{
    cursor:pointer;
}

#about a,#aboutbtn:hover,#all-btn,a:hover,body section .txt .des a{
    text-decoration:underline
}

a{
    color:#000
}
.carousel-control-next-icon,.carousel-control-prev-icon,.show{
    display:none
}

#about a,button{
    height:0
}

#about #finishbtn{
    padding:0;
    width:0;
    color: black;
}
.carousel-control-next:hover{
    cursor:e-resize
}
.carousel-control-prev:hover{
    cursor:w-resize
}
.carousel-control-next{
    width:50%;
    height:100%;
    z-index:100;
    cursor:e-resize
}
.carousel-control-prev{
    width:50%;
    height:100%;
    z-index:100;
    cursor:w-resize
}
.carousel-item .landscape{
    margin-bottom:0
}
.popup .closebtn{
    top:0;
    right:0;
    font-size:1rem
}
.popup .nextbtn,.popup .prevbtn{
    position:fixed;
    z-index:300;
    top:50px;
}
.popup .nextbtn{
    right:0
}
 