@import "variables.css";
@import "staple.css";
@import "style-mobile-max-width-768.css";
@import "style-mobile-max-width-1024.css";
/* @import "style-mobile-max-width-640.css"; */


@font-face {
  font-family: univers;
  src: url(UniversLTPro-55Roman.otf);
}

@media (min-width: 1025px) {
  body{
  background-color: black;
  }


.topbar {
  z-index: 298;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1rem;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 10px;
  padding-left: var(--margin);
  padding-right: var(--margin);
}


  body header #about {
  position: fixed;
  z-index: 300;
  top: 50px;
  left: var(--margin);
  color: black;
  font-size: 1rem;
  background-color: var(--maincolor);
  padding-left: 5px;
  position: fixed;
  z-index: 300;
  top: 50px;
  left: var(--margin);
  }

  a {
    text-decoration: none;
  }


.topbar button {
  width: 33%;
  text-align: left;
  margin-left: 5px;
}

  #name a {
    padding: 0;
    color: white
  }

  #aboutbtn, #indexbtn  {
    color: white
  }

  button:hover {
    text-decoration: underline;
  }
  
    
.scroll-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  overflow-y: scroll;
  height: 100vh;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
  scroll-snap-type: y mandatory;
}


.carousel-block {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  object-fit: contain;
  position: relative;
}

.fixed-text-overlay {
  width: 100vw;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  bottom: 0;
  z-index: 1000;
  color: white;

}

.carousel {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: end;
}

.carousel .carousel-item {
width: 100vw;
height: 100vh;
overflow-x: hidden;
overflow-y: hidden;
transition: 0s;
overflow-y: hidden;
display: flex;
align-items: center;
justify-content: center;
} 

.carousel-item .landscape {
width: 100vw;
object-fit: cover; 
object-position: center;
}

.carousel-index {
padding-left: 30px;
color: var(--red);
}


.show {
  display: none;
}

}