@import "style-mobile-max-width-1024.css";
@import "style-mobile-max-width-768.css";
@import "staple.css";
@import "variables.css";

@font-face {
  font-family: univers;
  src: url(UniversLTPro-55Roman.otf);
}

@media (min-width: 1025px) {
  body{
  background-color: black;
  font-size: 20px;
  }

.scroll-wrapper .mobile {
  display: none;
}

.topbar {
  z-index: 298;
  position: fixed;
  top: 0;
  left: 0;
  color: red;
  font-size: 1rem;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 10px;
  padding-left: var(--margin);
  padding-right: var(--margin);
}


  body header #about {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  top: 0px;
  left: 0px;
  padding: var(--margin);
  color: var(--abouttypecolor1024);
  font-size: 1rem;
  background: linear-gradient(to right, #ff0000 50%, #c000ff 50%);
  padding-top: 50px;
  }


  a {
    text-decoration: none;
  }

  #about a {
    text-decoration: underline;
  }


.topbar button {
  width: 33%;
  text-align: left;
  margin-left: 5px;
}


  #name a {
    padding: 0;
    color: white;
  }

  #aboutbtn  {
    color: white;
  }

  button:hover {
    text-decoration: underline;
  }
  
    
.scroll-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  overflow-y: scroll;
  height: 100vh;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
  scroll-snap-type: y mandatory;
}


.carousel-block {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  object-fit: contain;
  background-color: gainsboro;
  position: relative;
}

.fixed-text-overlay {
  width: 100vw;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  bottom: 0;
  font-size: 0.9rem;
  z-index: 100;
  color: white;

}

#about #finishbtn{
  padding:0;
  width:0;
  color: black;
}

.carousel {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: end;
}

.carousel .carousel-item {
width: 100vw;
height: 100vh;
background-color: black;
overflow-x: hidden;
overflow-y: hidden;
transition: 0s;
overflow-y: hidden;
display: flex;
align-items: center;
justify-content: center;
}

.custom-gif {
  width: 30%;            /* 이미지 3개가 가로를 약 90% 차지 */
  height: auto;          /* 비율 유지 */
  max-height: 80%;       /* 세로가 너무 커지는 것 방지 */
  object-fit: contain;
}

.custom-gif-50 {
  height: 60% !important;
  height: auto;           /* 비율 유지 */
  object-fit: contain;    /* 이미지가 잘리지 않게 보호 */
}

/* 3. 슬라이드 내부 정렬 (부트스트랩 클래스 d-flex로 부족할 경우 대비) */
.carousel-item > div {
  gap: 20px;             /* 이미지 사이의 미세한 간격 직접 조절 */
}

.carousel-item .landscape {
width: 100vw;
object-fit: cover; 
object-position: center;
}

.carousel-index {
padding-left: 30px;
color: white;
z-index: 100;
}


.show {
  display: none;
}

}