@media (max-width: 640px) {

  body .topbar {
      width: 100vw;
      padding-left: var(--marginmobile);
      display: flex;
  }

  body .topbar button {
      width: 150px;
  }

  body .topbar-category button{
      width: 100px;
  }

  body #about {
    left: var(--marginmobile);
  }


  body .start-con {
    position: sticky;
    width: 100vw;
    height: 20vh;
    top: 0;
    z-index: -1;
    background-image: url("starting/0.JPG");
    background-size: cover;
    background-position: center;
  }

  body section {
    width: 100vw;
    display: block;
    flex-wrap: wrap;
    padding-left: var(--marginmobile);
    padding-right: var(--marginmobile);
    padding-top: var(--marginmobile);
    padding-bottom: 100px;
    background-color: var(--maincolor);
  }

  section .r-3-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .r-3-2 .c-3-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: var(--marginmobile);
  }

  .r-3-2 .c-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: var(--marginmobile);
  }

  section .r-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
    
  .r-2 .c-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
    
  section .r-2 .c-2 {
    width: 100%;
    display: block;
  }

  section .r-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
    
  .r-2 .c-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
    
  section .r-3 .c-3 {
    width: 100%;
    display: block;
  }

  section .r-3 .c-3 img {
    width: 100%;
    display: block;
    margin-bottom: var(--marginmobile);
  }

  section .r-2 .c-2 img {
    width: 100%;
    display: block;
    margin-bottom: var(--marginmobile);
  }

  section .r-1 .c-1 img {
    width: 100%;
    display: block;
    margin-bottom: var(--marginmobile);
  }

  section .r-3-2 .c-3-2 img {
    width: 100%;
    display: block;
    margin-bottom: var(--marginmobile);
  }

  section .r-3-2 .c-3 img {
    width: 100%;
    display: block;
    margin-bottom: var(--marginmobile);
  }

  body .container-whole {
    transform: translateY(0vh);
  }

  .caption {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;
  }


  .caption div {
    width: 33%;
  }

  .caption div:first-child {
    padding-right: 10px;
  }

  .caption div:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}

@media (max-width: 768px) {

  body .topbar {
      width: 100vw;
      padding-left: var(--marginmobile);
      display: flex;
  }

  body .topbar button {
      width: 150px;
  }

  body .topbar-category button{
      width: 100px;
  }

  body #about {
    left: var(--marginmobile);
  }


  body .start-con {
    position: sticky;
    width: 100vw;
    height: 25vh;
    top: 0;
    z-index: -1;
    background-image: url("starting/0.JPG");
    background-size: cover;
    background-position: center;
  }

  body section {
    width: 100vw;
    display: block;
    flex-wrap: wrap;
    padding-left: var(--marginmobile);
    padding-right: var(--marginmobile);
    padding-top: var(--marginmobile);
    padding-bottom: 100px;
    background-color: var(--maincolor);
  }

  section .r-3-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .r-3-2 .c-3-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: var(--marginmobile);
  }

  .r-3-2 .c-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: var(--marginmobile);
  }

  section .r-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
    
  .r-2 .c-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
    
  section .r-2 .c-2 {
    width: 100%;
    display: block;
  }

  section .r-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
    
  .r-2 .c-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
    
  section .r-3 .c-3 {
    width: 100%;
    display: block;
  }

  section .r-3 .c-3 img {
    width: 100%;
    display: block;
    margin-bottom: var(--marginmobile);
  }

  section .r-2 .c-2 img {
    width: 100%;
    display: block;
    margin-bottom: var(--marginmobile);
  }

  section .r-1 .c-1 img {
    width: 100%;
    display: block;
    margin-bottom: var(--marginmobile);
  }

  section .r-3-2 .c-3-2 img {
    width: 100%;
    display: block;
    margin-bottom: var(--marginmobile);
  }

  section .r-3-2 .c-3 img {
    width: 100%;
    display: block;
    margin-bottom: var(--marginmobile);
  }

  body .container-whole {
    transform: translateY(0vh);
  }

  .caption {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    margin-top: 15px;
    margin-bottom: 15px;
  }


  .caption div {
    width: 33%;
  }

  .caption div:first-child {
    padding-right: 10px;
  }

  .caption div:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}



@media (max-width: 1024px) {
  body{
    /* background-color: var(--maincolor); */
    background-color: gainsboro;
    }

    .start-con {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 50vh; /* Set appropriate height */
      background-size: cover; /* Ensure the image covers the div */
      background-position: center;
      transition: background-image 0s; /* Instant change, no transition */
    }

    .start-con img {
    height: 100%;
    overflow-y: hidden;
    }

    .container-whole {
    transform: translateY(50vh);
    width: 100vw;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--maincolor);
    }

    section {
    /* width: 80%; */
    margin :0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: var(--margin);
    padding-right: var(--margin);
    }

    /* section:nth-child(2) {
    padding-top: 100px;
    } */


    /* section:nth-child(even) {
    background-color: rgb(220, 220, 220);
    }

    section:nth-child(odd) {
    background-color: var(--maincolor);
    } */

    section a {
    text-decoration: underline;
    }


    .r-1 {
    width: 100%;
    /* background-color: navy; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }

    .c-1 {
    margin: 5px 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    }

    .c-1 .landscape {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    }


    .r-2 {
    width: 100%;
    display: flex;
    }

    .c-2 {
    width: 50%;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: baseline;
    }

    .c-2 .portrait {
    width: 100%;
    }

    .c-2 .landscape {
    width: 100%;
    }

    .r-3 {
    width: 100%;
    /* background-color: fuchsia; */
    display: flex;
    justify-content: space-between;
    }

    .c-3 {
    width: 33%;
    /* background-color: yellow; */
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    }

    .c-3 .portrait{
    width: 100%;
    }


    .r-3-2 {
    width: 100%;
    /* background-color: fuchsia; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    }

    .c-3-2 {
    width: 66%;
    /* background-color: yellow; */
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    }
    .c-3-2 img {
    width: 100%;
    }


    .txt {
    padding: 3px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    }

  .caption {  
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 10px;
    }

    .caption div {
    width: 33%;
    padding-left: var(--gridpadding);
    }

    .caption div:last-child {
    display: flex;
    justify-content: space-between;
    }


    .des {
    padding-left: var(--gridpadding);
    color: var(--red);
    }

    .des a {
    color: var(--red);
    }

    .caption:hover {
    text-decoration: underline;
    }

    .dis div {
    width: 1fr;
    }

    .carousel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: end;
    }

    .carousel-item {
    width: 100%;
    transition: 0s;
    overflow-y: hidden;
    } 

    .carousel-item .portrait {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    }

    .carousel-item .landscape {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    }

    #blending {
    mix-blend-mode: multiply;
    }

    .carousel-index {
    padding-left: 30px;
    color: var(--red);
    }

    .portrait img{
    height: 100%;
    }

    .carousel-control-next:hover {
    cursor: e-resize;
    }

    .carousel-control-prev:hover {
    cursor: w-resize;
    }

    .carousel-control-next {
    /* background-color: red; */
    width: 50%;
    height: 100%;
    z-index: 100;
    cursor: e-resize;
    }

    .carousel-control-prev {
    width: 50%;
    height: 100%;
    z-index: 100;
    cursor: w-resize;
    }


    .carousel-control-prev-icon {
      display: none;
    }

    .carousel-control-next-icon {
      display: none;
    }

    .show {
      display: none;
    }
}
