@media (max-width: 1024px) {
body{
  /* background-color: var(--maincolor); */
  background-color: black
}
  
.carousel-item {
  backface-visibility: hidden;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.scroll-wrapper {
  height: 100vh;
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

.scroll-section{
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  display: block;
}

.list-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.list-link .link-block {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.list-link .link-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body header #about {
  position: fixed;
  z-index: 300;
  top: 50px;
  left: var(--marginmobile);
  font-size: var(--medtype);
  color: var(--red);
}


.topbar {
  font-size: var(--medtype);
  z-index: 298;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: center;
    padding-top: 10px;
  padding-left: var(--margin);
  padding-right: var(--margin);
  color: red;
}


body header #about {
  position: fixed;
  z-index: 300;
  top: 50px;
  left: var(--margin);
  font-size: var(--medtype);
  color: var(--red);
}



  .topbar button {
    width: 33%;
    text-align: left;
  }

  #name a {
    padding: 0;
    color: var(--red);
  }

  #aboutbtn, #indexbtn  {
    color: var(--red);
  }

  button:hover {
    text-decoration: underline;
  }


    .carousel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: end;
    }

    .carousel-item {
    width: 100%;
    height: 100%;
    transition: 0s;
    overflow-y: hidden;
    } 

    .carousel-item .portrait {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .carousel-item .landscape {
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    }


  .content-container {
    width: 100vw;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
  }

    .carousel-index {
    padding-left: 30px;
    color: var(--red);
    }

    .portrait img{
    height: 100%;
    }

    .carousel-control-next:hover {
    cursor: e-resize;
    }

    .carousel-control-prev:hover {
    cursor: w-resize;
    }

    .carousel-control-next {
    width: 50%;
    z-index: 100;
    cursor: e-resize;
    }

    .carousel-control-prev {
    width: 50%;
    z-index: 100;
    cursor: w-resize;
    }


    .carousel-control-prev-icon {
      display: none;
    }

    .carousel-control-next-icon {
      display: none;
    }

    .show {
      display: none;
    }
