@media (max-width: 768px) {

  body .topbar {
      padding-top: 10px;
      width: 100vw;
      padding-left: var(--marginmobile);
      padding-top: var(--marginmobile);
      display: flex;
  }

  body .topbar button {
      width: 150px;
      color: white;
  }

  body .topbar-category button{
      width: 100px;
  }

  html body header #about {
    text-align: left;
    position: fixed;
    z-index: 300;
    left: 0;
    padding-left: var(--marginmobile);
    padding-right: var(--marginmobile);
    padding-top:50px;
    color: var(--mobileabouttypecolor);
    background: linear-gradient(to right, #ff0000 50%, #c000ff 50%);
    width: 100vw;
    height: 100vh;
    top: 0;
  }

  #about a {
    color: var(--mobileabouttypecolor);
    text-decoration: none;
  }

  #about #finishbtn {
    color: var(--mobileabouttypecolor);
  }
  .scroll-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    scroll-snap-type: y mandatory;
  }
  

    .carousel-block {
    scroll-snap-align: start;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    position: relative;
    backface-visibility: hidden;
    perspective: 1000px;
    background-color: #E5E4E2;
    -webkit-perspective: 1000px;
  }

  .carousel-item {
    width: 100vw;
    height: 100vw;
    background-color: black;
  }

  .fixed-text-overlay {
    position: relative;
    padding: var(--marginmobile);
    width: 100vw;
    color: black;
  }

  .fixed-text-overlay .carousel-index {
    margin-bottom: var(--marginmobile);
  }

  .title {
    margin-bottom: 5px;
  }

  .scroll-wrapper .mobile {
    display: block;
  }

  .scroll-wrapper .desktop {
    display: none;
  }

  #name a {
    padding: 0;
    color: white;
    text-decoration: none;
  }


}
