@media (max-width: 1024px) {
body{
  background-color: black;
  color: white;
}

#finishbtn {
  color: white;
}

.carousel-item {
  backface-visibility: hidden;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}

.scroll-wrapper {
  height: 100vh;
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-snap-type: y mandatory;
}

.scroll-wrapper .mobile {
  display: none;
}

.scroll-wrapper .desktop {
  display: block;
}

body header #about {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  top: 0px;
  left: 0px;
  padding: var(--margin);
  color: var(--abouttypecolor1024);
  font-size: 1rem;
  background: linear-gradient(to right, #ff0000 50%, #c000ff 50%);
  }
}


.topbar {
  position: fixed;
  font-size: var(--medtype);
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 10px;
  padding-left: var(--margin);
  padding-right: var(--margin);
  color: white;
}



body header #about a {
  color: var(--abouttypecolor1024);
}

body header #about #finishbtn {
  color: var(--abouttypecolor1024);
}

  .topbar button {
    width: 33%;
    text-align: left;
    color:white;
  }

  #name a {
    padding: 0;
    color: white;
    text-decoration: none;
  }

  button:hover {
    text-decoration: underline;
  }

 .carousel-block {
    scroll-snap-align: start;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .fixed-text-overlay {
    width: 100vw;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    bottom: 0;
    z-index: 40;
    color: white;
  
  }

    .carousel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    }

    .carousel-item {
    width: 100vw;
    height: 100%;
    transition: 0s;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    } 

    .carousel-item .landscape {
    width: 100vw;
    height: 100%;
    display: flex;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    }


    .square-container {
      width: 100vw;
      height: 100vw; 
      position: relative;
      display: flex;
      justify-content: center;
      overflow: hidden;
    }
    
    .fit-gif {
      height: 100%; 
      width: auto; 
      display: block;
    }
  

    .carousel-index {
    padding-left: 30px;
    margin-bottom: 10px;
    }


    .carousel-control-next:hover {
    cursor: e-resize;
    }

    .carousel-control-prev:hover {
    cursor: w-resize;
    }

    .carousel-control-next {
    width: 50%;
    z-index: 100;
    cursor: e-resize;
    }

    .carousel-control-prev {
    width: 50%;
    z-index: 100;
    cursor: w-resize;
    }


    .carousel-control-prev-icon {
      display: none;
    }

    .carousel-control-next-icon {
      display: none;
    }

    .show {
      display: none;
    }
  