@media (max-width: 768px) {

  body .topbar {
      padding-top: 10px;
      width: 100vw;
      padding-left: var(--marginmobile);
      display: flex;
  }

  body .topbar button {
      width: 150px;
      margin-left: 5px;
      color: white;
  }

  body .topbar-category button{
      width: 100px;
  }

  html body header #about {
    text-align: left;
    position: fixed;
    z-index: 300;
    left: var(--marginmobile);
    padding-left: 5px;
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
  }


  .scroll-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    scroll-snap-type: y mandatory;
  }
  

    .carousel-block {
    scroll-snap-align: start;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    position: relative;
    backface-visibility: hidden;
    perspective: 1000px;
    -webkit-perspective: 1000px;
  }

}
