@media (max-width: 768px) {

   body {
     background-color: white;
   }

  body .topbar {
      padding-top: 10px;
      width: 100vw;
      padding-left: var(--marginmobile);
      display: flex;
      font-size: 15px;
  }

  body .topbar button {
      width: 150px;
      margin-left: 5px;
      color: white;
  }

  body .topbar-category button{
      width: 100px;
  }

  html body header #about {
    text-align: left;
    position: fixed;
    z-index: 300;
    left: var(--marginmobile);
    padding-left: 5px;
    color: white;
  }

  #about button {
    color: white;
  }

  #about #finishbtn {
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
  }

  #finishbtn {
    color: white;
  }


  .scroll-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    scroll-snap-type: y mandatory;
  }
  

    .carousel-block {
    scroll-snap-align: start;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    position: relative;
    backface-visibility: hidden;
    perspective: 1000px;
    -webkit-perspective: 1000px;
  }

  .carousel-item {
    width: 100vw;
    height: 100vw;
    background-color: black;
  }

  .fixed-text-overlay {
    font-size: 0.8rem;
    line-height: 80%;
    position: relative;
    padding-top: 5px;
    width: 100vw;
    height: 30vh;
    background-color: white;
    color: black;
  }

  .scroll-wrapper .mobile {
    display: block;
  }

  .scroll-wrapper .desktop {
    display: none;
  }

}
