:root {
    --maincolor: gainsboro;
    --smtype: 1rem;
    --medtype: 0.99rem;
    --mobileabouttypecolor: black;
    --abouttypecolor1024: black;
    --lgtype: 0.99rem;
    --margin: 12vw;
    --marginmobile: 20px;
    --stackmargin: 30px;
    --bold: 600;
    --smallermargin: 2vw;
    --button: 120px;
}