:root {
    --maincolor: rgb(159, 159, 159);
    --seccolor: rgb(240, 240, 0);
    --red: red;
    --smtype: 0.99rem;
    --medtype: 0.99rem;
    --lgtype: 0.99rem;
    --margin: 12vw;
    --stackmargin: 30px;
    --bold: 600;
    --mobile-margin: 0;
    --innerpadding: 0;
    --smallermargin: 2vw;
    --gridpadding: 10px;
    --button: 120px;
    --radius: 0px;
}